@import "./variables.scss";

.navbar-container {
  background-color: $dark-grey;
  padding: 32px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-icon {
  display: none;
}

@media (min-width: $breakpoint-tablet) {
  .navbar-container {
    padding: 32px 60px;
  }
  .profile-icon {
    height: 36px;
    width: 36px;
    display: block;
  }
}

@media (min-width: $breakpoint-desktop) {
  .navbar-container {
    padding: 32px 90px;
  }
  .profile-icon {
    height: 48px;
    width: 48px;
  }
}