@import "./variables.scss";

.user-card {
  border-radius: 10px;
  border: 1px solid black;
  transition: all;
  transition-duration: 300ms;
  box-shadow: 2px 6px 4px 0px rgba(0, 0, 0, 0.25);
}

.user-card:hover {
  transform: translate(-2px, -2px);
  box-shadow: 2px 6px 20px 0px rgba(0, 0, 0, 0.25);
}

.circle-30 {
  height: 30px;
  width: 30px;
  border-radius: 100%;
}

.user-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  border-bottom: 1px solid black;
  font-weight: 700;
}

.user-card-body {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  text-align: left;
  padding: 20px 30px;
  border-bottom: 1px solid black;
}

.user-card-body .value {
  font-weight: 700;
}

.user-card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
}

.users-grid {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0px 24px 20px;
  gap: 20px;
}

.users-empty-state {
  margin: 200px auto;
}

@media (min-width: $breakpoint-tablet) {
  .users-grid {
    grid-template-columns: 1fr 1fr;
    padding: 0px 56px 20px;
  }
}

@media (min-width: $breakpoint-desktop) {
  .users-grid {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0px 90px 20px;
  }
}
